* {
    margin: 0;
    padding: 0;
}

.navi ul {
    list-style-type: none;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 80px;
    text-decoration: none;
}

.navi li {
    float: right;
}

.navi li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    margin-top: 25px;
    font-size: 15px;
}

.banner{
    background-color: rgb(247, 202, 247);
    height: 300px;
    
}

h3{
    margin-top: -170px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

.kolom1 {
    float: right;
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: 500px;
    margin-top: 148px;
}

.kolom2{
    float: lef3;
    width: 70%;
    background-color: rgb(248, 235, 248);
    height: 500px;
    margin-top: 148px;
    text-align: center;
}

.footer{
    width: 100%;
    height: 60px;
    background-color: rgb(248, 194, 246);
    
}

p{
    margin-top: -40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

img{
    padding: 20vh;
    margin-top: -70px;
}

.kolom1 p{
    margin-top: -80px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar{
    text-align: center;
   margin-top: 100px;
   
}

.apa1{
    width: 30%;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    display: block;
    background-color: rgb(246, 215, 246);
}

.apa2{
    width: 25%;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    display: block;
    background-color: rgb(246, 215, 246);
}

.apa4{
    width: 20%;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    display: block;
    background-color: rgb(246, 215, 246);
}

.apa3{
    width: 60%;
    height: 25px;
    border: 0px;
    border-radius: 5px;
    display: block;
    background-color: rgb(246, 215, 246);
} 

.apa5{
    width: 27%;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    display: block;
    background-color: rgb(246, 215, 246);
}

.apa6{
    width: 40%;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    display: block;
    background-color: rgb(246, 215, 246);
}

.iya0{
    margin-left: 430px;
    margin-top: 40px;
}

.iya1{
    margin-left: 300px;
    margin-top: -38px;
}


.iya3{
    margin-top: 30px;
    margin-left: 160px;
}

.iya4{
    margin-top: -39px;
    margin-left: 160px;
}

.iya5{
    margin-top: 39px;
    margin-left: 160px;
}

.iya6{
    margin-top: -38px;
    margin-left: 360px;
}

.btn {
    display: flex;
    flex-direction: row;
}

.button-2 {
    width: 20%;
    border-radius: 10px;
    border: 0px;
    bottom: 12vh;
    height: 25px;
    margin-top: 30px;
    margin-left: 160px;
    background-color: rgb(233, 197, 220);
}

.button-3 {
    width: 20%;
    background-color: rgb(233, 197, 220);
    border-radius: 10px;
    border: 0px;
    height: 25px;
    margin-top: 30px;
    margin-left: 50px;
}

.pp1, .pp2, .pp3, .pp4, .pp5{
    margin-top: 45px;
}
